@import url();
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    /* primary colors */
    --primary-color: #4C8A2F;
    --primary-color-100: #F3FFF2;
    --primary-color-200: #D1FDCA;
    --primary-color-300: #ACF09B;
    --primary-color-400: #80CE65;
    --primary-color-600: #3A7119;
    --primary-color-700: #2E580F;
    --primary-color-800: #243F09;
    --primary-color-900: #172605;

    /* accent colors */
    --accent-color: #C93C1C;
    --accent-color-100: #FFF8F2;
    --accent-color-200: #FED5BE;
    --accent-color-300: #F8A987;
    --accent-color-400: #E87550;
    --accent-color-600: #A11C09;
    --accent-color-700: #780A02;
    --accent-color-800: #4F0100;
    --accent-color-900: #260000;

    /* gray colors */
    --white: #FAFCFA;
    --gray-200: #E8ECE8;
    --gray-300: #D7DBD7;
    --gray-400: #C6CBC6;
    --gray-500: #B6BAB5;
    --gray-600: #90958E;
    --gray-700: #6B7069;
    --gray-800: #474B45;
    --gray-900: #242622;
    --black: #141414;
}
*{
    font-family: 'Poppins', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background-color: var(--white);
}
section{
    padding: 2rem 256px;
}
header{
    justify-content: space-between;
    padding: 1.25rem 5rem;
    background-color: var(--white);
    gap: 5rem;
    border-bottom: 1px solid var(--gray-200);
    margin-bottom: -1px;
}
nav{
    width: 35%;
}
ul{
    gap: 2rem;
    list-style: none;
    color: var(--gray-900);
    width: max-content;
}
li{
    font-size: 1rem;
    position: relative;
    list-style-type: none;
    list-style-position:inside;
    margin:0;
    padding:0;
}
h1{
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: .05rem;
    margin: 0;
}
h2{
    font-size: 1.5rem;
    font-weight: 600;
}
p{
    font-weight: 500;
    margin: 0;
}
svg{
    stroke: var(--gray-800);
    stroke-width: 3px;
    stroke-linecap: round;
    stroke-linejoin: round;
    height: 24px;
}
.category_icon{
    height: 48px;
    width: 48px;
    stroke-width: 1.5px;
    stroke: var(--gray-700);
    padding: 1rem;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 8px var(--gray-300);
    border-radius: 24px;
}
button{
    font-size: 1rem;
    font-weight: 600;
    padding: 1rem 3rem;
    border: none;
    border-radius: .25rem;
}
.primary_button{
    background-color: var(--primary-color);
    color: var(--primary-color-100);
}
.secondary_button{
    background-color: var(--white);
    box-shadow: 0px 4px 8px var(--gray-300);
}
.flex_row{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.flex_column{
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.icon{
    width: 32px;
}
.icon_input{
    max-width: 24px;
    position: absolute;
    top: 20%;
    left: 1.75rem;
}
.input_container::after{
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0;
    left: 64px;
}
.logo{
    max-height: 48px;
}
input{
    width: calc(100% - 6rem);
    height: 2.5rem;
    border-radius: 8px;
    outline: 2px solid var(--gray-400);
    border: none;
    padding: 0rem 3.5rem;
    color: var(--gray-700);
    font-weight: 500;
    font-size: 1rem;

    transition: outline 300ms ease-in;
}
input::placeholder{
    font-weight: 500;
    font-style: italic;
    color: var(--gray-400);
}
input:hover{
    outline: 2px solid var(--gray-600);
    background-color: var(--white);
}
input:active, input:focus{
    outline: 3px solid #636772;
    border: none;
}
.input_container{
    width: 100%;
    position: relative;
    padding: 0rem 1rem;
}
.nav_item{
    position: relative;
    height: 32px;
    min-width: 92px;
    justify-content: center;
    gap: .5rem;
}
.nav_item::after{
    content: '';
    position: absolute;
    height: 3px;
    width: 0%;
    bottom: -2px;
    left: 0;
    background: linear-gradient(90deg, var(--primary-color-100) 0%, var(--primary-color) 5%, var(--primary-color) 95%, var(--primary-color-100) 100%);
    border-radius:2px;
    transition: width 200ms ease-out;
}
.nav_item:hover::after{
    width: 100%;
    transition: width 200ms ease-out;
}
#cart_icon{
    stroke-width: 2px;
    height: 32px;
}
.dropdown-menu{
    position: absolute;
    top: 100%;
    left: 0;
    padding-inline-start: 0px;
    padding: 32px 24px;
    width: max-content;
    background-color: var(--white);
    box-shadow: 0px 4px 8px var(--gray-300);
    border-radius: 4px;
}
.hero_section{
    justify-content: left;
    gap: 8rem;
    padding: 2rem 256px;
    background-color: var(--primary-color-100);
    z-index: -1;
}
#hero_text{
    gap: 2rem;
    & #text_group{
        gap: 1rem;
        margin: 0;
    }
}
#hero_image{
    height: 30rem;
}
#category_scrollers{
    justify-content: space-between;
}
.category_button{
    text-align: center;
    gap: 0rem;
    & p{
        font-weight: 600;
        color: var(--gray-700);
    }
}
.product-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    column-gap: 2rem;
}
.product-card{
    padding: 1rem .5rem;
    box-shadow: 0px 4px 8px var(--gray-300);
    justify-content: space-between;
    & img{
        max-height: 96px;
    }
}
.card_header{
    justify-content: space-between;
}
.card_price{
    font-weight: 500;
}
.card_price_original{
    text-decoration: line-through;
    font-size: .75rem;
    color: var(--accent-color);
}
.card_description{
    height: 2lh;
    margin-bottom: 1rem;
}
.price_group{
    gap: .5rem;
}
.promotional_section{
    gap: 4rem;
}
.promotional_image{
    max-height: 400px;
}