@import url();

:root{
    --background-color: #1A1C23;
    --gray700: #1F2129;
    --text-white: #F0F4FB;
}
body{
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}
header{
    justify-content: space-between;
    padding: 1.25rem 5rem;
    background-color: var(--gray700);
}
nav{
    width: 35%;
}
ul{
    gap: 2rem;
    list-style: none;
    color: var(--text-white);
    width: max-content;
}
li{
    font-size: 1rem;
    position: relative;
    list-style-type: none;
    list-style-position:inside;
    margin:0;
    padding:0;
}
.flex_row{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.flex_column{
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.icon{
    max-width: 32px;
}
.icon_input{
    max-width: 24px;
    position: absolute;
    top: 25%;
    left: 1.75rem;
}
.input_container::after{
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #2D2F37;
    top: 0;
    left: 64px;
}
.logo{
    max-height: 48px;
}
input{
    width: calc(100% - 6rem);
    height: 2.5rem;
    background-color: #1A1C23;
    border-radius: 8px;
    border: 2px solid #2D2F37;
    padding: 0rem 3.5rem;
    color: var(--text-white);
}
.input_container{
    width: 100%;
    position: relative;
    padding: 0rem 1rem;
}
.nav_item{
    position: relative;
    height: 32px;
    min-width: 92px;
    justify-content: center;
}
.nav_item::after{
    content: '';
    position: absolute;
    height: 3px;
    width: 0%;
    bottom: -2px;
    background: linear-gradient(90deg, rgb(228, 238, 254) 0%, rgba(240,244,251,1) 20%, rgba(240,244,251,1) 80%, rgb(228, 238, 254) 100%);
    border-radius:2px;
    transition: width 200ms ease-out;
}
.nav_item:hover::after{
    width: 100%;
    transition: width 200ms ease-out;
}
.dropdown-menu{
    position: absolute;
    top: 100%;
    left: 0;
    padding-inline-start: 0px;
    padding: 32px 24px;
    width: max-content;
    background-color: #2D2F37;
    border-radius: 4px;
}