@import url();

:root{
    --background-color: #1A1C23;
    --gray700: #1F2129;
    --text-white: #F0F4FB;
}
body{
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}
header{
    justify-content: space-between;
    padding: 1.25rem 5rem;
    background-color: var(--gray700);
}
nav{
    width: 35%;
}
ul{
    gap: 2rem;
    list-style: none;
    color: var(--text-white);
    width: max-content;
}
li{
    font-size: 1rem;
}
.flex_row{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.icon{
    max-width: 32px;
}
.icon_input{
    max-width: 24px;
    position: absolute;
    top: 25%;
    left: 1.75rem;
}
.input_container::after{
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #2D2F37;
    top: 0;
    left: 64px;
}
.logo{
    max-height: 48px;
}
input{
    width: calc(100% - 6rem);
    height: 2.5rem;
    background-color: #1A1C23;
    border-radius: 8px;
    border: 2px solid #2D2F37;
    padding: 0rem 3.5rem;
    color: #F0F4FB;
}
.input_container{
    width: 100%;
    position: relative;
    padding: 0rem 1rem;
}